---
const { team, active } = Astro.props;
---

<div class="flex flex-col items-center gap-4 mt-auto pt-6 lg:pt-8 border-t border-white/5 relative z-10 w-full">
    <div class="flex items-center justify-center w-full gap-4">
        <button id="prev-btn" class="hidden md:flex text-white/20 hover:text-white hover:scale-125 transition-all cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
        </button>

        <div class="flex items-center justify-center gap-3 py-2 px-3 bg-white/[0.02] rounded-xl border border-white/5 mx-auto md:mx-0">
            {team.map((member, index) => (
                    <button
                            class={`team-trigger relative w-9 h-9 sm:w-10 sm:h-10 lg:w-12 lg:h-12 rounded-lg overflow-hidden transition-all duration-300 opacity-40 grayscale data-[active=true]:opacity-100 data-[active=true]:grayscale-0 data-[active=true]:ring-2 data-[active=true]:scale-110 ${index === 0 ? active.ringClass : ''}`}
                            data-member={JSON.stringify(member)}
                            data-active={index === 0 ? "true" : "false"}
                    >
                        <img src={`https://mc-heads.net/avatar/${member.name}/100`} alt={member.name} class="w-full h-full object-cover" />
                    </button>
            ))}
        </div>

        <button id="next-btn" class="hidden md:flex text-white/20 hover:text-white hover:scale-125 transition-all cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </button>
    </div>
</div>