---
// src/layouts/Layout.astro
import Navbar from '../components/navbar/Navbar.astro';
import '../styles/global.css';
import Footer from "@/components/footer/Footer.astro";
import CartOverlay from "../components/shop/CartOverlay.astro";

const { title = "TurboBlocks" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
</head>
<body class="bg-[#050505] text-white antialiased selection:bg-cyan-500/30 selection:text-cyan-400">
<Navbar />
<main>
    <slot />
</main>
<Footer />
<CartOverlay />
</body>
</html>